{% extends 'core/base.html' %}
{% block title %}Services{% endblock %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom">SERVICES</h1>


    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fa-solid fa-magnifying-glass-dollar fa-2xl mb-3 i-color"></i>
            <h3>SEO</h3>
            <p class="ss-color"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                 to make a type specimen book</p>
        </div>

        <div class="col-sm-4">
            <i class="fa-solid fa-palette fa-2xl mb-3 i-color"></i>
            <h3>WEB DESIGN</h3>
            <pclass="ss-color"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                 to make a type specimen book</pclass=>
        </div>

        <div class="col-sm-4">
            <i class="fa-solid fa-code fa-2xl mb-3 i-color"></i>
            <h3>WEB DEVELOPMENT</h3>
            <p class="ss-color"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                 to make a type specimen book</p>
        </div>
    </div>


    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fa-brands fa-android fa-2xl mb-3 i-color"></i>
            <h3>ANDROID</h3>
            <p class="ss-color"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                 to make a type specimen book</p>
        </div>

        <div class="col-sm-4">
            <i class="fa-brands fa-apple fa-2xl mb-3 i-color"></i>
            <h3>IOS</h3>
            <pclass="ss-color"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                 to make a type specimen book</pclass=>
        </div>

        <div class="col-sm-4">
            <i class="fa-solid fa-ad fa-2xl mb-3 i-color"></i>
            <h3>ADVERTISEMENT</h3>
            <p class="ss-color"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                 to make a type specimen book</p>
        </div>
    </div>



    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fa-solid fa-pencil fa-2xl mb-3 i-color"></i>
            <h3>LOGO DESIGN</h3>
            <p class="ss-color"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                 to make a type specimen book</p>
        </div>

        <div class="col-sm-4">
            <i class="fa-solid fa-database fa-2xl mb-3 i-color"></i>
            <h3>HOSTING</h3>
            <pclass="ss-color"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                 to make a type specimen book</pclass=>
        </div>

        <div class="col-sm-4">
            <i class="fa-solid fa-headset fa-2xl mb-3 i-color"></i>
            <h3>SUPPORTS</h3>
            <p class="ss-color"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. 
                 to make a type specimen book</p>
        </div>
    </div>



</div>

{% endblock content %}